@page
@model TecNM.Proyecto.WebSite.Pages.ProductCategory.ListModel
<div class="container" style="margin-bottom: 200px;">
    <div class="row">
        <div class="col-md-10 mt-10">
            <!-- Contenido del primer div -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mb-10">
            <!-- Contenido del segundo div -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <!-- Contenido del primer div -->
    </div>
  </div>
<div class="container-fluid">
    <form method="get">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <br/>
                <a asp-page=".\Edit" class="btn btn-success">Agregar nuevo</a>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    
                    <th></th>
                </tr>
                @foreach (var ProductCategory in @Model.ProductCategory)
                {
                    <tr>
                        <td>@ProductCategory.Name</td>
                        <td>
                            <a a-asp-area="" asp-page="/ProductCategory/Edit" asp-route-id="@ProductCategory.Id"
                               class="btn btn-primary" role="button">Editar</a>
                            <a a-asp-area="" asp-page="/ProductCategory/Delete" asp-route-id="@ProductCategory.Id"
                               class="btn btn-danger mr-3" role="button">Borrar</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="container" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-md-10 mt-10">
            <!-- Contenido del primer div -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mb-10">
            <!-- Contenido del segundo div -->
        </div>
    </div>
</div>