@page
@model TecNM.Proyecto.WebSite.Pages.Information.About


<div class="hero-bread" style="position: relative;">
    <img alt="" src="~/img/images/about.jpg" style="width: 100%; max-height: 400px; object-fit: cover;">
    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0" style="background-color: #fff;,font-weight: 800;,color: #000000;,font-size: 30px;,font-family:Open Sans;,Arial, sans-serif;,letter-spacing: 3px;,text-transform: uppercase;">Acerca de Nosotros</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-bag"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">#1 Moda del pasado</h3>
                        <p>En nuestra tienda, cada prenda cuenta una historia y tiene su propio encanto. Descubre piezas vintage, prendas de diseñadores icónicos y accesorios únicos que agregarán un toque especial a tu estilo. Te invitamos a unirte a nuestra comunidad de amantes de la moda sostenible y crear un guardarropa lleno de autenticidad y estilo perdurable.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">#2 Valores de nuestra empresa</h3>
                        <ul>
                            <li>Compromiso con la moda sostenible y la reutilización de prendas.</li>
                            <li>Promoción de un estilo de vida consciente y responsable.</li>
                            <li>Ofrecer productos de calidad a precios asequibles.</li>
                            <li>Fomentar la diversidad y la expresión personal a través de la moda.</li>
                            <li>Brindar una experiencia de compra excepcional y servicio al cliente de alta calidad.</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-payment-security"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">#3 Proceso de adquisición</h3>
                                                <p>Trabajamos con un riguroso proceso de adquisición para ofrecerte los mejores productos de segunda mano:</p>
                        <ul>
                            <li>Colaboramos con proveedores confiables que comparten nuestros valores de calidad y sostenibilidad.</li>
                            <li>Aceptamos donaciones de ropa usada, asegurándonos de que estén en buen estado antes de ofrecerlas en nuestra tienda.</li>
                            <li>Compramos directamente a personas interesadas en vender sus prendas usadas, garantizando una selección variada y de calidad.</li>
                        </ul>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

