@page
@model TecNM.Proyecto.WebSite.Pages.Contact

<div class="hero-bread" style="position: relative;">
    <img alt="" src="~/img/images/about.jpg" style="width: 100%; max-height: 400px; object-fit: cover;">
    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0" style="background-color: #fff;,font-weight: 800;,color: #000000;,font-size: 30px;,font-family:Open Sans;,Arial, sans-serif;,letter-spacing: 3px;,text-transform: uppercase;">Contactanos</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Direccion:</span> 	Jose Ma. Juarez #6,San Francisco Del Rincon,Guanajuato, Mexico</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Telefono:</span> <a >+52 476 101 3706</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Email:</span> <a>RizoDeOro@hotmail.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Sitio web:</span> <a >RizoDeOro.com</a></p>
                </div>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-4 order-md-last d-flex">
                <form action="#" class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tu Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tu Correo">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Titulo">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enviar Mensaje" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>

            <div class="col-md-7 d-flex">
                <div>
                    <img alt="" style="width: 100%; height: 100%" src="~/img/cliente.png"></img>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-gallery ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                <h2 class="mb-4">Siguenos en Instagram</h2>
                <p>Explora nuestra tienda de ropa de segunda mano, donde la moda única del pasado te espera. ¡Encuentra tu estilo perdurable!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/img/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(img/images/gallery-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/img/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(img/images/gallery-2.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/img/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(img/images/gallery-3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/img/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(img/images/gallery-4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/img/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(img/images/gallery-5.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-2 ftco-animate">
                <a href="~/img/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(img/images/gallery-6.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
