@page
@model TecNM.Proyecto.WebSite.Pages.Home

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" style="max-width: 50%" src="img/images/bg_1.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#Bienvenidos a Kiiro</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">¡Conócenos!</h1>
                                <p class="mb-4">En Kiiro, nos apasiona la moda sostenible y queremos compartir esa pasión contigo. Somos una empresa dedicada a la venta de ropa de segunda mano de alta calidad y estilo. Nuestro objetivo es promover un consumo responsable y consciente, ofreciendo prendas únicas y asequibles que no solo te harán lucir bien, sino que también contribuirán al cuidado del medio ambiente.</p>

                                <p>
                                    <a asp-area="" asp-page="/Catalog/store" class="btn-custom">Ver Ropa</a> 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid"style="max-width: 40%" src="/img/Segunda.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#Categorias</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">Segunda vuelta: Reinventa tu guardarropa con estilo y ahorro</h1>
                                <p class="mb-4">¡Renueva tu estilo con estilo! Descubre nuestra exclusiva selección de moda masculina de segunda mano.</p>

                                <p>
                                    <a asp-area="" asp-page="/Catalog/store" class="btn-custom">Descubrelo Ahora</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid"style="max-width: 40%" src="/img/men.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#Categorias</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">Revive el Estilo: ¡Encuentra Tesoros en Segunda Mano!</h1>
                                <p class="mb-4">Dale vida a tu guardarropa, sin dañar el planeta. ¡Renueva tu estilo con nuestra nueva ropa de segunda mano!</p>

                                <p>
                                    <a asp-area="" asp-page="/Catalog/store" class="btn-custom">Descubrelo Ahora</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>